body {
    background-image: url("topography.png");
    margin: 0;
    padding: 0;
 
  }


li {
   display: inline-block;
   padding:  0px 25px 0px 10px;  
   text-transform: uppercase;
}

li a {
       color: #FF0098;
}


ul {
    padding: 13px 0% 0 70%;
    margin: 0;
    background-color: #333333;
    height: 40px;
}

.svgparent {   
    position: relative;
    height: 100;
    width: 100; 
}

.svgchild { 
    position: absolute;
    top: -45px;  
    left: 150px;  
}

p {
    font-family: consolas, courier;
}

h1, h2, h3, h4, li a {
    font-family: 'Oswald', sans-serif;
}


h1 {
    font-size: 45px;
}

h2{
    text-align: center;
    font-size: 38px;
}

h3{
    font-size: 30px;
}

h4 {
    font-size: 28px;
    color: #FF0098;  
}

.separator {
    text-align: center;
    padding: 5% 0% 3% 0%;
}

.text {
    padding: 0% 10%;
}

